nav.nav-nyrst {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 62, 0, 0.1);
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 1em;
  background: var(--color-second);

  ul {
    margin: 0;
    padding: 0;
  }

  /* clearfix */
  ul::after {
    content: "";
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
  }

  a:focus,
  a:hover,
  .nyrst:focus,
  .nyrst:hover,
  [aria-current] {
    position: relative;
    display: inline-block;
  }

  a:focus::after,
  a:hover::after,
  .nyrst:focus::after,
  .nyrst:hover::after,
  [aria-current]::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 2px;
    background-color: var(--color-main);
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
  }
}

@media screen and (min-width: 31rem) {
  nav.nav-nyrst {
    font-size: 1rem;
  }
}
